<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>View Only.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>669B8CA81F2ED67800963A8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>669B8CBC1F2ED67800963A8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>669B8CC71F2ED67800963A8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
